In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

from sklearn import metrics
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv('PARIS HOUSING')
df

      squareMeters  numberOfRooms  ...  hasGuestRoom      price
0            75523              3  ...             7  7559081.5
1            80771             39  ...             2  8085989.5
2            55712             58  ...             9  5574642.1
3            32316             47  ...             3  3232561.2
4            70429             19  ...             4  7055052.0
...            ...            ...  ...           ...        ...
9995          1726             89  ...             4   176425.9
9996         44403             29  ...             0  4448474.0
9997         83841              3  ...             9  8390030.5
9998         59036             70  ...             4  5905107.0
9999          1440             84  ...             6   146708.4

[10000 rows x 17 columns]

In [ ]:
df.isnull().sum()

squareMeters         0
numberOfRooms        0
hasYard              0
hasPool              0
floors               0
cityCode             0
cityPartRange        0
numPrevOwners        0
made                 0
isNewBuilt           0
hasStormProtector    0
basement             0
attic                0
garage               0
hasStorageRoom       0
hasGuestRoom         0
price                0
dtype: int64

In [ ]:
reg=linear_model.LinearRegression()
reg.fit(df[['squareMeters','numberOfRooms','hasYard','hasPool','floors','cityCode','cityPartRange','numPrevOwners','made','isNewBuilt','hasStormProtector','basement','attic','garage','hasStorageRoom','hasGuestRoom']],df['price'])

LinearRegression()

In [ ]:
print(reg.intercept_)
print(reg.coef_)

4926.758592904545
[ 1.00000024e+02  2.51844810e-01  3.01229551e+03  2.97713775e+03
  5.45420542e+01 -8.03888244e-04  4.73685001e+01 -3.95730186e-01
 -2.31311931e+00  1.58041540e+02  1.41196130e+02 -2.10562533e-03
 -4.50939065e-03  1.13432814e-01  1.94856126e+01 -5.62033751e+00]

In [ ]:
yp=reg.predict(df[['squareMeters','numberOfRooms','hasYard','hasPool','floors','cityCode','cityPartRange','numPrevOwners','made','isNewBuilt','hasStormProtector','basement','attic','garage','hasStorageRoom','hasGuestRoom']])
yp

array([7559296.85878308, 8089219.22308318, 5575672.81318593, ...,
       8388814.76385823, 5909277.14013567,  147421.94830351])

In [ ]:
metrics.r2_score(yp,df['price'])

0.999999565404025